<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title>Sumário da Esposa</title>
    </head>

    <body>
        <form action="{{url_for('fill_summary')}}" method='post' novalidate>
            <div class='summary-form'>
                <label for="date" id='date'>Date</label>
                <input type="date" name="sum-date" id="input-date"><br>
            </div>
            <div class='summary-form'>
                <label for="summary" id='summary'>Sumário</label>
                <textarea name="summary" id="input-summary" cols="30" rows="10"
                    placeholder='Digite aqui o sumário'></textarea>
            </div>
            <div>
                <input type="submit" value="Submeter">
                <input type="reset" value="Limpar campos">
            </div>
        </form>
    </body>

</html>